// stile fonts
$font-family: 'Montserrat', sans-serif;
$base-font: 16px;
$font-normal: 400;
$font-bold: 700;

//color

$bg-color: rgba(35, 50, 51, 0.863);

$text-color: rgb(128, 128, 128);
$title-color: rgb(255, 255, 255)